.example {
    padding: 50px;
    background-color: #3a9ce7;
    width: 100px;
    position: relative;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 2px 0 black;
}

.example div::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
}