.father{
    background-color: rgb(154, 153, 151);
    height: 220px;
}

.child1 {
    width: 100px;
    height: 100px;
    background-color: rgb(21, 224, 21);
    position: relative;
    right: -300px;
    top: 10px;
    z-index:3;
}

.child2 {
    width: 100px;
    height: 100px;
    background-color: rgb(224, 21, 24);
    position: relative;
    right: -200px;
    top: 10px;
    z-index:1;
}

.child3 {
    width: 100px;
    height: 100px;
    background-color: rgb(230, 230, 234);
    position: relative;
    right: -250px;
    bottom: 130px;
    z-index:2;
}